/* CSS used here will be applied after bootstrap.css */
.show-grid>div{
  background-color:transparent;
  border:1px solid white;
}
.navbar-header{
  width:100%;
  
}
.navbar-brand{
  color:#7c0e17 !important;
}
.dropdown-menu{
  top:0%;
  left:100%;
  width:500px;
  padding:0px;
}
.navbar-default{
  background-color:white !important;
  border:white !important;
  color:#337ab7 !important;
}
.navbar-nav>li>a{
  color:#337ab7 !important;
}
.divider-line{
   border:1px black;
}
.content{
    display: block;
    border: 100px;
    background-color:white;
}
.form-group{
  width:100%;
}
.add-btn{
  margin-left:80%;
    background-color:white;
}
.remove-btn{
  margin-left:20%;
}
.hidden{
  display:none;
}
.desc{
  float:left;
  padding:6px;
  width:50%;
  margin-left:1px;
}
#submit-btn{
  float: none;
  margin-left: 25%;
  font-size: 12px;
} background-color:white;
}